@mixin section-header {
	margin-top: 100px;
// idk как расположить картинку справа от заголовка без дополнительного div
	&-title {
		text-align: center;
	}

	&-img {
		width: 40px;
	}
}

@mixin about-card ($url) {
	background-image: url($url);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

@mixin ecology-img ($url) {
	background-image: url($url);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	width: 33%;
	height: 200px;
	line-height: 200px;

	@media (max-width: 800px) {
		width: 100%;
	}
}
// FIXME: mixin должен принимать url картинки (сделал)